{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-4">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold">Dashboard Admin</h1>
            <a href="{{ path('app_admin_quiz_new') }}" class="btn btn-primary">Nouveau Quiz</a>
        </div>
    </div>
    <a href="{{ path('app_admin_quiz_list') }}" class="btn btn-primary">Gérer les quiz</a>
    <a href="{{ path('app_admin_category_list') }}" class="btn btn-primary">Gérer les catégories</a>
    <a href="{{ path('app_admin_tag_list') }}" class="btn btn-primary">Gérer les tags</a>
    <a href="{{ path('app_admin_badge_list') }}" class="btn btn-primary">Gérer les badges</a>
    <a href="{{ path('app_admin_comment_list') }}" class="btn btn-primary">Gérer les commentaires</a>
{% endblock %}
