<!DOCTYPE html>
{% if app.user %}
<html data-theme="{{ app.user.theme }}">
{% else %}
<html data-theme="emerald">
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}QuizDown{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}QuizDown{% endblock %}">
    <meta name="author" content="{% block meta_author %}QuizDown{% endblock %}">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="{{ asset('images/QuizDown.png') }}" type="image/x-icon">
    <title>{% block title %}QuizDown{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% include 'components/navbar.html.twig' %}
</head>
<body>
<div class="flex-1">
    {% for message in app.flashes('error') %}
        <div class="mx-4 my-4">
            <div class="alert alert-error baseMessage" id="flash-{{ loop.index }}">
                <span>{{ message }}</span>
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="mx-4 my-4">
            <div class="alert alert-success baseMessage" id="flash-success-{{ loop.index }}">
                <span>{{ message }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const alerts = document.querySelectorAll('.baseMessage');
        alerts.forEach(alert => {
            setTimeout(() => {
                alert.style.transition = 'opacity 0.5s ease-out';
                alert.style.opacity = '0';
                setTimeout(() => alert.remove(), 500);
            }, 4000);
        });
    });
</script>
{% block body %}{% endblock %}
</body>
</html>
