<!DOCTYPE html>
{% if app.user %}
<html data-theme="{{ app.user.theme }}"></html>
{% else %}
<html data-theme="emerald"></html>
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'components/navbar.html.twig' %}
{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        <span>{{ message }}</span>
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        <span>{{ message }}</span>
    </div>
{% endfor %}
{% block body %}{% endblock %}
</body>
</html>
